/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/crowdfunding/components/components/Community/style/Community.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Community_rewardsContainer__HxXiU {
    position: relative;
    width: 100%;
    height: 553px;
    background-color: #F9F9F9; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .Community_rewardsContainer__HxXiU {
        height: 279px; 
    }
}

.Community_content__1QJX8 {
    position: relative;
    z-index: 10; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Community_iconWrapper__3v81E img {
    width: 160px;
    height: 100px;
    opacity: 0.7; 
    color: #1E1E1E;
}

.Community_textWrapper__BqUWy h2 {
    color: #1E1E1E;
    font-size: 1.5rem;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .Community_textWrapper__BqUWy h2 {
        font-size: 1.2rem; 
    }

    .Community_iconWrapper__3v81E img {
        width: 160px;
        height: 100px;
    }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/crowdfunding/components/components/Extras/style/Extras.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************/
.Extras_rewardsContainer__sYPeV {
    position: relative;
    width: 100%;
    height: 553px; 
    background-color: #F9F9F9; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .Extras_rewardsContainer__sYPeV {
        height: 279px; 
    }
}

.Extras_content__hgROw {
    position: relative;
    z-index: 10; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Extras_iconWrapper__RJwic img {
    width: 160px; 
    height: 100px;
    opacity: 0.7; 
}

.Extras_textWrapper___oRpa h2 {
    color: #1E1E1E;
    font-size: 1.5rem;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .Extras_textWrapper___oRpa h2 {
        font-size: 1.2rem; 
    }

    .Extras_iconWrapper__RJwic img {
        width: 160px;
        height: 100px; 
    }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/layouts/main-layout/header/header-menu/header-cart/HeaderCart.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.HeaderCart_cart__LtSOY {
    display: flex;
    height: 100%;
    flex-direction: column
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ {
    display: flex;
    width: 100%;
    flex: 1 1 0%;
    flex-direction: column
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx {
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_image__yef8z {
    position: relative;
    height: 7rem;
    width: 7rem;
    overflow: hidden;
    border-radius: calc(var(--radius) - 2px)
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_image__yef8z > img {
    object-fit: cover
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_right__tBjbh {
    margin-left: 1.5rem
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_right__tBjbh > h2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-weight: 500
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_right__tBjbh > p {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: hsl(var(--muted-foreground))
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_right__tBjbh .HeaderCart_actions__Jhezt {
    margin-top: 0.25rem;
    display: flex;
    align-items: center
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_right__tBjbh .HeaderCart_actions__Jhezt input {
    width: 2.5rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_right__tBjbh .HeaderCart_actions__Jhezt button {
    width: 1.75rem;
    height: 1.75rem
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_right__tBjbh .HeaderCart_actions__Jhezt button svg {
    width: 1rem;
    height: 1rem
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_not_found__vS2uZ {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: hsl(var(--muted-foreground))
}
.HeaderCart_cart__LtSOY > .HeaderCart_total__7XeKq {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500
}
.HeaderCart_cart__LtSOY > button {
    width: 100%
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/layouts/main-layout/header/header-menu/header-cart/cart-item/PayPal.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#paypal-button-container {
  display: block !important;
  width: 100% !important;
  height: auto !important;
}


/* Ascunde bara de scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Scrollbar thumb color */
  border-radius: 10px;
  border: 3px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c; /* Hover color for scrollbar thumb */
}



/* Ascunde bara de scroll implicită pe webkit (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE și Edge */
  scrollbar-width: none; /* Firefox */
}

/* Stil personalizat pentru scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* Lățimea barei de scroll */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Fundalul barei */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Culoarea thumb-ului */
  border-radius: 10px; /* Rotunjirea colțurilor */
  border: 2px solid transparent; /* Spațiu între thumb și marginea barei */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c; /* Culoarea thumb-ului la hover */
}




.font-Heebo-24 {
  font-family: 'Heebo', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #1E1E1E;
}


.font-Heebo-24-- {
  font-family: 'Heebo', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}



.font-Heebo-20 {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #1E1E1E;
}

.font-Heebo-bold-20 {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #1E1E1E;
}

.font-Heebo-18-pay {
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.font-Heebo-18 {
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: #1E1E1E;
}


.font-Heebo-18-med {
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: #1E1E1E;
}

.font-Heebo-16 {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}


.font-Heebo-16-medium {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.font-Heebo-bold-16 {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.font-Heebo-17 {
  font-family: 'Heebo', sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 17px;
  color: #1E1E1E;
}

.font-Heebo-14 {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: #1E1E1E;
}


.font-Heebo-14-bolt {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: #1E1E1E;
}

.font-Heebo-14-b {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}


.font-Heebo-reg-14 {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #1E1E1E;
}

.font-Heebo-r-14 {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.font-Heebo-reg-16 {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.font-Heebo-reg-16-0 {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.font-Heebo-med-16 {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #1E1E1E;
}

.font-Heebo-med--16 {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}


.font-Heebo-med-15 {
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
}

.font-Heebo-semi-15 {
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
}


.font-Heebo-bold-15 {
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
}

.font-Heebo-reg-15 {
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
}

.font-Heebo-reg-12 {
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.font-Heebo-bold-12 {
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}


.font-Heebo-med {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  line-height: 15px;
}

.font-Heebo-reg {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  line-height: 14px;
}

.font-Heebo-med-13 {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  line-height: 13px;
}




.font-Heebo-reg-12 {
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}


.font-Heebo-bold-12 {
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}


.font-Heebo-semibold-12 {
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 700;
}












.shadow-container {
  position: relative;
  /* background-color: #F9F9F9; */
  max-height: calc(100vh - 112px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.scroll-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 30px; /* Adaugă padding pentru a separa conținutul */
  padding-left: 20px;
  padding-right: 20px;
}


.scroll-content-product {
  flex-grow: 1;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* Gradient pentru partea de sus și de jos */
.shadow-top,
.shadow-bottom {
  position: absolute;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 10;
  pointer-events: none;
}

.shadow-top {
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
}

.shadow-bottom {
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.1), transparent);
}


.no-scroll {
  overflow: hidden;
}




/* Personalizare scrollbar pentru Webkit-based browsers (Chrome, Safari) */
.scroll-content-product::-webkit-scrollbar {
  width: 2px; /* Setează lățimea scrollbar-ului */
}

.scroll-content-product::-webkit-scrollbar-track {
  background: transparent; /* Fundal transparent pentru track */
}

.scroll-content-product::-webkit-scrollbar-thumb {
  background-color: transparent; /* Culoare discretă pentru thumb */
  border-radius: 10px; /* Rotunjirea colțurilor */
  transition: background-color 0.3s ease; /* Tranziție pentru efect de hover */
}

.scroll-content-product::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* Culoare mai închisă la hover */
}

/* Personalizare scrollbar pentru Firefox */
.scroll-content-product {
  scrollbar-width: thin; /* Face scrollbar-ul mai subțire */
  scrollbar-color: #b0b0b0 transparent; /* Setează culoarea thumb-ului și a track-ului */
}

