.images {
	background-image: url('/images/Backgroung.png');
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.images {
		background-image: url('/images/vellovMobileBack.png');
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}
}
