/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/layouts/main-layout/header/header-menu/header-cart/HeaderCart.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.HeaderCart_cart__LtSOY {
    display: flex;
    height: 100%;
    flex-direction: column
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ {
    display: flex;
    width: 100%;
    flex: 1 1 0%;
    flex-direction: column
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx {
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_image__yef8z {
    position: relative;
    height: 7rem;
    width: 7rem;
    overflow: hidden;
    border-radius: calc(var(--radius) - 2px)
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_image__yef8z > img {
    object-fit: cover
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_right__tBjbh {
    margin-left: 1.5rem
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_right__tBjbh > h2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-weight: 500
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_right__tBjbh > p {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: hsl(var(--muted-foreground))
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_right__tBjbh .HeaderCart_actions__Jhezt {
    margin-top: 0.25rem;
    display: flex;
    align-items: center
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_right__tBjbh .HeaderCart_actions__Jhezt input {
    width: 2.5rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_right__tBjbh .HeaderCart_actions__Jhezt button {
    width: 1.75rem;
    height: 1.75rem
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_item__D_MAx > .HeaderCart_right__tBjbh .HeaderCart_actions__Jhezt button svg {
    width: 1rem;
    height: 1rem
}
.HeaderCart_cart__LtSOY .HeaderCart_items__ClmMQ > .HeaderCart_not_found__vS2uZ {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: hsl(var(--muted-foreground))
}
.HeaderCart_cart__LtSOY > .HeaderCart_total__7XeKq {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500
}
.HeaderCart_cart__LtSOY > button {
    width: 100%
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/layouts/main-layout/header/header-menu/header-cart/cart-item/PayPal.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#paypal-button-container {
  display: block !important;
  width: 100% !important;
  height: auto !important;
}


/* Ascunde bara de scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Scrollbar thumb color */
  border-radius: 10px;
  border: 3px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c; /* Hover color for scrollbar thumb */
}



/* Ascunde bara de scroll implicită pe webkit (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE și Edge */
  scrollbar-width: none; /* Firefox */
}

/* Stil personalizat pentru scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* Lățimea barei de scroll */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Fundalul barei */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Culoarea thumb-ului */
  border-radius: 10px; /* Rotunjirea colțurilor */
  border: 2px solid transparent; /* Spațiu între thumb și marginea barei */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c; /* Culoarea thumb-ului la hover */
}




.font-Heebo-24 {
  font-family: 'Heebo', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #1E1E1E;
}


.font-Heebo-24-- {
  font-family: 'Heebo', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}



.font-Heebo-20 {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #1E1E1E;
}

.font-Heebo-bold-20 {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #1E1E1E;
}

.font-Heebo-18-pay {
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.font-Heebo-18 {
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: #1E1E1E;
}


.font-Heebo-18-med {
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: #1E1E1E;
}

.font-Heebo-16 {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}


.font-Heebo-16-medium {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.font-Heebo-bold-16 {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.font-Heebo-17 {
  font-family: 'Heebo', sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 17px;
  color: #1E1E1E;
}

.font-Heebo-14 {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: #1E1E1E;
}


.font-Heebo-14-bolt {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: #1E1E1E;
}

.font-Heebo-14-b {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}


.font-Heebo-reg-14 {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #1E1E1E;
}

.font-Heebo-r-14 {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.font-Heebo-reg-16 {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.font-Heebo-reg-16-0 {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.font-Heebo-med-16 {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #1E1E1E;
}

.font-Heebo-med--16 {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}


.font-Heebo-med-15 {
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
}

.font-Heebo-semi-15 {
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
}


.font-Heebo-bold-15 {
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
}

.font-Heebo-reg-15 {
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
}

.font-Heebo-reg-12 {
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.font-Heebo-bold-12 {
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}


.font-Heebo-med {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  line-height: 15px;
}

.font-Heebo-reg {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  line-height: 14px;
}

.font-Heebo-med-13 {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  line-height: 13px;
}




.font-Heebo-reg-12 {
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}


.font-Heebo-bold-12 {
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}


.font-Heebo-semibold-12 {
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 700;
}












.shadow-container {
  position: relative;
  /* background-color: #F9F9F9; */
  max-height: calc(100vh - 112px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.scroll-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 30px; /* Adaugă padding pentru a separa conținutul */
  padding-left: 20px;
  padding-right: 20px;
}


.scroll-content-product {
  flex-grow: 1;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* Gradient pentru partea de sus și de jos */
.shadow-top,
.shadow-bottom {
  position: absolute;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 10;
  pointer-events: none;
}

.shadow-top {
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
}

.shadow-bottom {
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.1), transparent);
}


.no-scroll {
  overflow: hidden;
}




/* Personalizare scrollbar pentru Webkit-based browsers (Chrome, Safari) */
.scroll-content-product::-webkit-scrollbar {
  width: 2px; /* Setează lățimea scrollbar-ului */
}

.scroll-content-product::-webkit-scrollbar-track {
  background: transparent; /* Fundal transparent pentru track */
}

.scroll-content-product::-webkit-scrollbar-thumb {
  background-color: transparent; /* Culoare discretă pentru thumb */
  border-radius: 10px; /* Rotunjirea colțurilor */
  transition: background-color 0.3s ease; /* Tranziție pentru efect de hover */
}

.scroll-content-product::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* Culoare mai închisă la hover */
}

/* Personalizare scrollbar pentru Firefox */
.scroll-content-product {
  scrollbar-width: thin; /* Face scrollbar-ul mai subțire */
  scrollbar-color: #b0b0b0 transparent; /* Setează culoarea thumb-ului și a track-ului */
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/crowdfunding/components/VideoMobile/style/Video.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
/* Video.css */

/* Stilizare pentru loader cu puncte săltărețe */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader div {
    width: 12px;
    height: 12px;
    margin: 3px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    animation: bounce 1.4s infinite ease-in-out both;
  }
  
  .loader div:nth-child(1) {
    animation-delay: -0.32s;
  }
  
  .loader div:nth-child(2) {
    animation-delay: -0.16s;
  }
  
  @keyframes bounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }
  
  /* Fundalul pentru video-container */
  .video-container {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 9999;
  }
  
  /* Asigură-te că video-ul nu se suprapune cu loader-ul */
  .video-wrapper video {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .play-button {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .play-button img {
    width: 30px;
    height: 30px;
  }
  
  .play-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/crowdfunding/style/Header.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/

.Header_header__LENR3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .Header_header__LENR3 {
    height: 70vh;
  }
}

@media only screen and (max-width: 767px) {
  .Header_header__LENR3 {
    height: 80vh; 
  }
}

@media only screen and (max-width: 480px) {
  .Header_header__LENR3 {
    height: 93vh; 
  }
}

@media only screen and (max-width: 416px) {
  .Header_header__LENR3 {
    height: 93vh; 
  }
}

@media only screen and (max-width: 380px) {
  .Header_header__LENR3 {
    height: 89vh; 
  }
}

.Header_header__LENR3 {
  width: 100%; 
}

.Header_bgMobile__QJF7i {
  background-image: url('/imgs/Crowdfunding/mobile.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: flex;
}

.Header_bgMobileAtelier__pD4P5 {
  background-image: url('/imgs/Crowdfunding/CarouselAtelier.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: flex;
}

.Header_bgMobileHeader__xuAW5 {
  background-image: url('/imgs/Crowdfunding/Header.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: flex;
}


.Header_bgDesktop__9z4LF {
  background-image: url('/imgs/Crowdfunding/phone.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.Header_gradientOverlay__PkQeU {
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 30%;
}

.Header_flex__rgwpS {
  display: flex;
}

.Header_justify-center__nWNyj {
  justify-content: center;
}

.Header_justify-end__38ohp {
  justify-content: flex-end;
}

.Header_flex-col__Dnoql {
  flex-direction: column;
}

.Header_relative__BtawI {
  position: relative;
}

.Header_absolute__fwlIo {
  position: absolute;
}

.Header_inset-0__kaC4E {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Header_min-h-screen__OtoGy {
  min-height: 100vh;
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .Header_headerCrowdfunding__9UoMe {
    height: 70vh;
  }
}

@media only screen and (max-width: 767px) {
  .Header_headerCrowdfunding__9UoMe {
    height: 80vh; 
  }
}

@media only screen and (max-width: 480px) {
  .Header_headerCrowdfunding__9UoMe {
    height: 90vh; 
  }
}

@media only screen and (max-width: 416px) {
  .Header_headerCrowdfunding__9UoMe {
    height: 93vh; 
  }
}

@media only screen and (max-width: 390px) {
  .Header_headerCrowdfunding__9UoMe {
    height: 80vh + 40px; 
  }
}

.Header_headerCrowdfunding__9UoMe {
  width: 100%; 
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
  .Header_headerCrowdfunding__9UoMe {
    height: 90vh;
  }
}

@media only screen and (width: 428px) {
  .Header_headerCrowdfunding__9UoMe {
    height: 80vh;
  }
}

@media only screen and (min-width: 769px) {
  .Header_headerCrowdfunding__9UoMe {
    height: 100vh;
  }
}


.Header_headerCrowdfunding__9UoMe {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}


@media (min-width: 640px) {
  .Header_headerMobile__N7QAi {
      height: calc(100vh - 30vh); 
  }
}

@media (min-width: 768px) {
  .Header_headerMobile__N7QAi {
      height: calc(100vh - 32vh); 
  }
}

@media (min-width: 1024px) {
  .Header_headerMobile__N7QAi {
      height: calc(100vh - 33vh);
  }
}

@media (min-width: 1280px) {
  .Header_headerMobile__N7QAi {
      height: calc(100vh - 40vh); 
  }
}


@media (max-width: 430px) {
  .Header_headerContent__XLtCp {
      top: 70vh;
  }
}

@media (max-width: 375px) {
  .Header_headerContent__XLtCp {
      top: 56vh;
  }
}

@media (max-width: 320px) {
  .Header_headerContent__XLtCp {
      top: 51vh;
  }
}

.Header_header__LENR3 {
  height: 100dvh; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Header_bg-image__yRpMU {
  background-image: url('/imgs/Crowdfunding/background3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; 
  position: absolute;
  top: 0;
  left: 0;
}

.Header_content-wrapper__7xm_n {
  padding-bottom: 16px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .Header_bg-image__yRpMU {
      background-image: url('/imgs/Crowdfunding/CarouselAtelier.webp');
  }

  .Header_content-wrapper__7xm_n {
      padding-bottom: 10px; 
  }
}

@supports (-webkit-touch-callout: none) {
  .Header_header__LENR3 {
      height: calc(100vh - env(safe-area-inset-bottom));
      min-height: -webkit-fill-available;
  }

  .Header_content-wrapper__7xm_n {
      padding-bottom: 30px; 
  }

  .Header_playButton__U1_pD {
      bottom: 25%; 
  }
}

@supports not (-webkit-touch-callout: none) {
  .Header_header__LENR3 {
      height: 100dvh;
  }

  .Header_playButton__U1_pD {
      bottom: 20%; 
  }
}

@media only screen and (max-width: 834px) {
  .Header_header__LENR3 {
      height: 90vh;
  }
}

@media only screen and (max-width: 430px) {
  .Header_header__LENR3 {
      height: 75vh;
  }
}

@media only screen and (max-width: 375px) {
  .Header_header__LENR3 {
      height: 70vh;
  }
}

@media only screen and (max-width: 320px) {
  .Header_header__LENR3 {
      height: 65vh;
  }
}

.Header_slide-up__2Xj_Q {
  position: fixed;
  bottom: -100px; 
  animation: Header_slideUp__JoDeu 1.5s ease-in-out forwards; 
  opacity: 0; 
  z-index: 50; 
}

@keyframes Header_slideUp__JoDeu {
  0% {
    bottom: -100px; 
    opacity: 0; 
  }
  30% {
    opacity: 0.2; 
  }
  50% {
    bottom: -50px; 
    opacity: 0.5;
  }
  100% {
    bottom: 0; 
    opacity: 1;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/crowdfunding/components/components/Community/style/Community.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Community_rewardsContainer__HxXiU {
    position: relative;
    width: 100%;
    height: 553px;
    background-color: #F9F9F9; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .Community_rewardsContainer__HxXiU {
        height: 279px; 
    }
}

.Community_content__1QJX8 {
    position: relative;
    z-index: 10; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Community_iconWrapper__3v81E img {
    width: 160px;
    height: 100px;
    opacity: 0.7; 
    color: #1E1E1E;
}

.Community_textWrapper__BqUWy h2 {
    color: #1E1E1E;
    font-size: 1.5rem;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .Community_textWrapper__BqUWy h2 {
        font-size: 1.2rem; 
    }

    .Community_iconWrapper__3v81E img {
        width: 160px;
        height: 100px;
    }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/crowdfunding/components/components/Extras/style/Extras.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************/
.Extras_rewardsContainer__sYPeV {
    position: relative;
    width: 100%;
    height: 553px; 
    background-color: #F9F9F9; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .Extras_rewardsContainer__sYPeV {
        height: 279px; 
    }
}

.Extras_content__hgROw {
    position: relative;
    z-index: 10; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Extras_iconWrapper__RJwic img {
    width: 160px; 
    height: 100px;
    opacity: 0.7; 
}

.Extras_textWrapper___oRpa h2 {
    color: #1E1E1E;
    font-size: 1.5rem;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .Extras_textWrapper___oRpa h2 {
        font-size: 1.2rem; 
    }

    .Extras_iconWrapper__RJwic img {
        width: 160px;
        height: 100px; 
    }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/ui/catalog/components/style/CatalogForCrowdfunding.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CatalogForCrowdfunding_container__Hgk7F {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto 2.5rem auto;
	background-color: #F9F9F9;
}



.CatalogForCrowdfunding_header__bG8Qn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5rem 0 1.25rem 0;
}

.CatalogForCrowdfunding_headerLeft__Wjytd {
	display: flex;
	align-items: center; 
	gap: 1.25rem;
}

.CatalogForCrowdfunding_title__YfW_l {
	font-size: 32px;
	font-weight: 600;
	font-family: 'Heebo', sans-serif;
}

.CatalogForCrowdfunding_button__4Hoeg {
	border: 1px solid transparent;
	height: 36px;
	width: 116px;
	border-radius: 10px;
	background-color: rgba(161, 161, 161, 0.1);
	color: #1e1e1e;
	cursor: pointer;
}

.CatalogForCrowdfunding_button__4Hoeg:hover {
	text-decoration: underline;
}

.CatalogForCrowdfunding_arrowContainer__dLb81 {
	display: flex;
	gap: 20px;
}

.CatalogForCrowdfunding_arrow__3yXsz {
	border: 1px solid transparent;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: rgba(161, 161, 161, 0.1);
}

.CatalogForCrowdfunding_arrow__3yXsz.CatalogForCrowdfunding_rotate__dx_zo {
	transform: rotate(90deg);
}

.CatalogForCrowdfunding_productContainer__56SAk {
	display: flex;
	gap: 20px;
	overflow-x: auto;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	cursor: grab;
	padding-bottom: 10px;
	padding-right: 20px;
	margin-right: calc(-50vw + 50%);
}

.CatalogForCrowdfunding_productContainer__56SAk::-webkit-scrollbar {
	display: none; 
}

.CatalogForCrowdfunding_productCard__kVt6C {
	flex: 0 0 calc(100% / 4.5 - 20px); 
	max-width: calc(100% / 3.5 - 20px);
}

.CatalogForCrowdfunding_productWrapper__EVUzz {
	position: relative;
	max-width: 1400px;
	width: 100%;
	background-color: #F9F9F9;
	margin: 0 auto;
}


@media (max-width: 1270px) {
	.CatalogForCrowdfunding_productCard__kVt6C {
		flex: 0 0 calc(100% / 3.5 - 20px); 
		max-width: calc(100% / 2.5 - 20px);
	}

	.CatalogForCrowdfunding_grid__rTdbF {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 920px) {
	.CatalogForCrowdfunding_productCard__kVt6C {
		flex: 0 0 calc(100% / 3 - 20px); 
		max-width: calc(100% / 2 - 20px);
	}
}

  
@media (max-width: 768px) {

	.CatalogForCrowdfunding_container__Hgk7F {
		background-color: #F9F9F9;

	}

	.CatalogForCrowdfunding_productCard__kVt6C img {
		height: 499.81px;
		object-fit: cover;
		width: 350px;
	  }

	.CatalogForCrowdfunding_productContainer__56SAk {
	  gap: 30px; 
	  padding: 0 16px;
	  overflow-x: scroll;
	  scroll-snap-type: x mandatory;
	}
	.CatalogForCrowdfunding_arrowContainer__dLb81 {
		display: none; 
	}
  
	.CatalogForCrowdfunding_productCard__kVt6C {
	  flex: 0 0 95%;
	  max-width: 350px;
	  scroll-snap-align: center;
	}
  

	.CatalogForCrowdfunding_button__4Hoeg {
		display: none;
	}

	.CatalogForCrowdfunding_title__YfW_l {
	  display: none;
	}


	.CatalogForCrowdfunding_paginationDots__Aiyzb {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
		margin-bottom: 40px;
		gap: 12px;
	  }
	  
	  .CatalogForCrowdfunding_dot__sic8V {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #949494;
		transition: background-color 0.3s ease;
	  }
	  
	  .CatalogForCrowdfunding_dot__sic8V.CatalogForCrowdfunding_active__82_9Q {
		background-color: #FFFFFF;
	  }
	  
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/(root)/explorer/components/style/HomeProducts.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
.truncate-2-lines {
	display: -webkit-box;
	-webkit-line-clamp: 2; /* Limitează la 2 rânduri */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}

.font-Heebo-24-- {
	font-family: 'Heebo', sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
}

.font-Heebo-18 {
	font-family: 'Heebo', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
}

.font-Heebo-15 {
	font-family: 'Heebo', sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 15px;
}

.font-Heebo-16-semi {
	font-family: 'Heebo', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
}

.font-Heebo-20-semi {
	font-family: 'Heebo', sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}

.font-Heebo-16 {
	font-family: 'Heebo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}

.font-Heebo-16-med {
	font-family: 'Heebo', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
}

.font-Heebo-14 {
	font-family: 'Heebo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
}

.font-Heebo-14-med {
	font-family: 'Heebo', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 13px;
}

.font-Heebo-13 {
	font-family: 'Heebo', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
}

.font-Heebo-15-reg {
	font-family: 'Heebo', sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 13px;
}

.price-container {
	display: flex;
	gap: 10px;
}

.font-Heebo-16-regular {
	font-family: 'Heebo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/layouts/main-layout/footer/Footer.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/
@media (max-width: 1024px) {
	.footer-sections {
	  display: none;
	}
  }
  
