.rewardsContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .rewardsContainer {
        height: 100vh
    }
}

.content {
    position: relative;
    z-index: 10; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconWrapper img {
    width: 160px;
    height: 100px;
    opacity: 0.7; 
    color: #1E1E1E;
}

.textWrapper h2 {
    color: #1E1E1E;
    font-size: 1.5rem;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .textWrapper h2 {
        font-size: 1.2rem; 
    }

    .iconWrapper img {
        width: 160px;
        height: 100px;
    }
}
