.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #bdbdbd;
	border-radius: 10px;
	border: 2px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: #8c8c8c;
}

.fixed-gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
	pointer-events: none;
}

.image-position {
	background-size: cover;
}
